.menu {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-header-color);
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-navigation {
  display: flex;
}

.header-logo {
  color: var(--main-black);
  margin-right: 92px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list {
  display: flex;
  column-gap: 50px;
  height: 100%;
}

.navigation-item__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  color: var(--main-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--trans-dur-time-fun);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.navigation-item__link.current {
  color: var(--accent-color);

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts-list {
  display: flex;
  column-gap: 50px;
}

.contacts-item__link-mail,
.contacts-item__link-tel {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--trans-dur-time-fun);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-item__icon-mail,
.contacts-item__icon-smartphone {
  display: inline-block;

  margin-right: 10px;
  fill: currentColor;
}

// .contacts-item__icon-mail:hover,
// .contacts-item__icon-smartphone:hover,
// .contacts-item__icon-mail:focus,
// .contacts-item__icon-smartphone:focus {
//   fill: var(--accent-color);
// }
